// 索引列表
@import '../variables';
.a-index-list{
    position: relative;
    height: 100%;
    &__bar{
        position: absolute;
        right:0;
        top:50%;
        bottom:0;
        transform: translateY(-50%);
        &__item{
            padding-left: $space *2 ;
            font-size: $font-size-3;
            line-height: 24px;
            &--acitve{
                transition: color $animateDuration;
                color:$primary;
            }

        }
    }
}