@import '../../../vars/variables.scss';
.a-input {
    padding: $space;
    font-size: $font-size-5;

    &__title {
        font-weight: bold;
    }

    &__content {
        display: flex;
        align-items: center;
        height: 2em;
        &__title-inline{
            margin-right: $space;
            font-weight: bold;
        }
        &__input {
            width: 100%;
            flex:1;
            font-size:$font-size-5;
        }

        &__icon {
            font-size:$font-size-1;
            text-align: center;
            width:$font-size-1;
        }
    }
}