@import '../variables';
.a-popup {
    padding: $space;
    position: fixed !important;
    z-index: $z-index-popup;
    background-color: $popup-background-color;
    overflow: hidden;
    &--top{
        left: 0;
        top: 0;
        right: 0;
    }



    &--right{
        top:0;
        right: 0;
        bottom: 0;
        width: 60%;
    }

    &--bottom{
        // box-shadow: 0 5px 10px #000;
        left: 0;
        bottom: 0;
        right: 0;
    }


    &--left{
        top:0;
        bottom: 0;
        left:0;
        width: 60%;
    }


    &__header{
        font-size: $font-size-3;
        margin-left: $space;
    }
}