@import '../../../vars/variables.scss';

%line {
    display: block;
    position: absolute;
    background-color: $gray-400;
    content: "";
    width: $steps-line-width;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
}

%cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: $space;
    font-size: $font-size-5;
}

.a-steps {
    display: table;

    &__item {
        display: table-row;
        padding: $space;

        &__start,
        &__middle,
        &__end {
            @extend %cell;
        }


        &__start {
            word-break: keep-all;
            white-space: nowrap;
            text-align: end;
        }

        // 75
        &__middle {
            .a-steps__item__middle__circle {
                color: $steps-normal-color !important;
                &:after {
                    @extend %line;
                    bottom: 0;
                    height: calc(50% - #{$steps-circle-width / 2});
                }

                display: block;
                margin: auto;
                width: $steps-circle-width;
                height: $steps-circle-width;
                border-radius: 100%;
                border: 1px solid $steps-normal-color !important;
                background-color: transparent !important;
            }
        }

        &__end {
            font-size: $font-size-4;
        }

        // 当前项的下线是灰色
        &--active {
            .a-steps__item__middle {
                .a-steps__item__middle__circle {
                    background-color: $primary !important;
                    color: $white !important;
                    border-color: $primary !important;
                    &:after {
                        background-color: $primary !important;
                    }
                }
            }
        }

        // 当前项后面的项目的上/下线是灰色
        &--active~& {
            .a-steps__item__middle {
                .a-steps__item__middle__circle {
                    color: $white !important;
                    background-color: $primary !important;
                    border-color: $primary !important;

                    &:after,
                    &:before {
                        background-color: $primary !important;
                    }
                }
            }
        }
    }

    // 非首位
    &__item+&__item {
        .a-steps__item__middle {
            .a-steps__item__middle__circle {
                &:before {
                    @extend %line;
                    top: 0;
                    height: calc(50% - #{$steps-circle-width / 2});
                }

                &:after {
                    @extend %line;
                    bottom: 0;
                    height: calc(50% - #{$steps-circle-width / 2});
                }
            }
        }
    }

    // 去掉尾部线
    &__item:last-child {
        .a-steps__item__middle {
            .a-steps__item__middle__circle {
                &:after {
                    display: none;
                }
            }
        }
    }

    // 大圆
    &__item--big {
        .a-steps__item__middle {
            .a-steps__item__middle__circle {
                font-size: $font-size-6;
                width: $steps-circle-width * 2;
                height: $steps-circle-width * 2;
                line-height: $steps-circle-width * 2;
                color: $primary;
                text-align: center;
            }

            .a-steps__item__middle__circle {
                &:before {
                    height: calc(50% - #{$steps-circle-width}) !important;
                }

                &:after {
                    height: calc(50% - #{$steps-circle-width}) !important;
                }
            }
        }
    }
}