// 标签栏
@import '../../../vars/variables.scss';
@import '../../../mixins/_mixins.scss';

.a-tabbar {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: $white;
    box-shadow: $shadow-up;
    left: 0;
    bottom: 0;
    height: $tabbar-height;

    &__item {
        text-align: center;
        display: flex;
        position: relative;
        flex: 1;
        flex-flow: column;
        height: 100%;
        align-self: center;
        justify-self: center;
        justify-content: center;
        color: currentColor;

        &:active {
            background-color: $light;
            transition: transform $animateDuration;
            .a-tabbar__item__icon {
                transform: scale(0.92);
            }
        }

        &__icon {
            display: block;
            font-size: $font-size-1;
            position: relative;
            align-self: center;
            height: $tabbar-height/2;
            width: $tabbar-height/2;

            &__badge {
                @include badge;
                top: $tabbar-badge-offset-top;
            }
        }
    }
}