@import '../../../vars/variables.scss';

.a-tag {
    padding: $space/2;
    display: inline-block;
    font-size: $font-size-6;
}

@each $k,
$color in $theme-colors {
    .a-tag--#{$k} {
        border-radius: $radius;
        color: color-yiq($color);
        background-color: $color;
        border: 1px solid $color;
        // @include thinBorder((top, right, bottom,left), $color, $space);
    }

    .a-tag--#{$k}.a-tag--outline {
        // @include thinBorder((top, right, bottom,left), $color, $space);
        color: $color;
        background-color: $white;
    }

}