@import '../../../vars/variables.scss';
@import '../../../mixins/mixins.scss';

.a-toast {
    position: absolute;
    display: inline-block;
    max-width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: $space * 2;
    background: rgba(0, 0, 0, 0.6);
    color: $white;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: $radius;
    font-size: $font-size-5;

    &__icon {
        display: inline;
        vertical-align: middle;
        font-size: 2em;
        line-height: 0.6em;
        &:before {
            line-height: 0.6em;
        }

    }

    &--block {
        .a-toast__icon {
            display: block !important;
            margin: auto;
            font-size: 5em !important;
            line-height: 0.6em;
            &:before {
                line-height: 0.6em;
            }

        }
    }

    &--loading {
        .a-toast__icon {
            @include loading-half-circle;
            margin-bottom: $space;
            height: 0.5em;
            width: 0.5em;
            border-radius: 0.5em;
            border-width: 0.05em;
        }
    }
}