@each $var in (center, baseline, stretch, flex-start, flex-end) {
    .align-items-#{$var} {
        align-items: $var;
    }

    .align-contents-#{$var} {
        align-content: $var;
    }

    .align-self-#{$var} {
        align-self: $var;
    }
}

.v-align-middle{vertical-align: middle;}

@each $var in (left, right, center,start,end) {
    .t-align-#{$var}{
        text-align: $var;
    }
}


