.d-flex {
    display: flex;

    &.row {
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }
}
.d-block{
    display: block !important;
}
.d-none {
    display: none !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block{
    display: inline-block;
}