.d-flex {
    display: flex;

    &.row {
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }
}
.d-block{
    display: block !important;
}
.d-none {
    display: none !important;
}

.d-table {
    display: table !important;
}
.d-table-row{
    display: table-row !important;
}
.d-table-cell {
    display: table-cell !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block{
    display: inline-block;
}