.d-flex {
    display: flex;

    &.row {
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }
}
.d-block{
    display: block;
}
.d-none {
    display: none;
}

.d-inline {
    display: inline;
}

.d-inline-block{
    display: inline-block;
}