.pos-r {
    position: relative;
}

.pos-a {
    position: absolute !important;
}

.pos-f {
    position: fixed;
}

.pos-s {
    position: sticky;
}

.pos-a-tl{
    @extend .pos-a;
    top:0;left:0;
}