.shadow-all {
    box-shadow: 0 2px 8px rgba(#000, 0.1), 0 0 0 1px rgba(#ccc, 0.05);
}

// .shadow-down{box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);}


.shadow-down {
    box-shadow: 0 1px 3px rgba(#000, .125);
}

.shadow-down-lg {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}