table.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    background: #fff;

    tr {
        border-bottom: 1px solid #dbdbdb;
        width: 100%;

        td,
        th {
            padding: $space;
        }

        th {
            text-align: start;
        }
    }

    &.table-bordered {
        border: 1px solid #dbdbdb;
    }

    &.table-striped {
        tbody tr:nth-of-type(2n+1) {
            background-color: #f9f9f9;
        }

    }

    &.table-hover {
        tbody tr {
            &:hover {
                background-color: #dbdbdb;
            }
        }
    }
}