@import '../variables';
@import "node_modules/ionicons/dist/scss/ionicons.scss";
.a-backdrop {
    position: fixed;
    z-index: $z-index-backdrop;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $backdrop-background-color;

    &__button-close {
        @extend .ion-ios-close;
        position: absolute;
        text-align: center;
        color:$white;
        left: 0;
        right: 0;
        bottom:$space;
        margin:auto;
        width: $backdrop-width;
        height: $backdrop-width;
        line-height: $backdrop-width;
        font-size: $backdrop-width;
    }
}