.a-backdrop {
    position: fixed;
    z-index: $z-index-backdrop;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $backdrop-background-color;

    &__button-close {
        @extend .ion-ios-close, .t-align-center, .text-white, .pos-a;
        left: 0;
        right: 0;
        bottom:$space;
        margin:auto;
        width: $backdrop-width;
        height: $backdrop-width;
        line-height: $backdrop-width;
        font-size: $backdrop-width;
    }
}