// 标记
.a-badge {
    @extend .pos-a,
    .font-6, .text-white;
    background-color: $danger;
    z-index: 2;
    padding: 0 5px;
    min-height: 10px;
    box-sizing: content-box;
    border-radius: 9999px;
    right: 0;
    top: 0;
    line-height: 16px;
    text-align: center;
    white-space: nowrap;
    transform: translate(50%, -50%);
}

.a-badge-dot {
    @extend .pos-a;
    z-index: 2;
    box-sizing: content-box;
    border-radius: 9999px;
    right: 0;
    top: 0;
    width: 8px;
    height: 8px;
    line-height: 2px;
    transform: translate(50%, -50%);
}