.a-button-group {
    display: flex;

}

.a-button-group--block {
    border-radius: $button-radius;

    .a-button {
        border-radius: 0 !important;
    }
}

.a-button {
    -webkit-appearance: button;
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: $space/2 $space;
    box-sizing: border-box;
    border: 0 none;
    vertical-align: middle;
    user-select: none;
    outline: none;
    font-size: $button-font-size;
    border-radius: $button-radius;
    background: #fff;
    color: #000;
    transition: box-shadow 200ms;

    &--block,
    &--full {
        width: 100%;
        border-radius: $button-radius;
        padding: $space*2;
    }

    &--full {
        border-radius: 0 !important;
    }

    &--rounded {
        border-radius: 99999px;
    }


    &--round {
        border-radius: 99999px;
    }

}

@each $k,
$color in $theme-colors {
    .a-button--#{$k} {
        color: color-yiq($color);
        background-color: $color;

        &:active {
            box-shadow: inset 0 3px 5px rgba(#000, .125);
        }

        &:focus {
            z-index: 1;
            box-shadow: 0 0 0 3px rgba($color, .4);
        }


        &[disabled] {
            background-color: lighten($color, 20%);
            touch-action: none;
        }
    }
}