.a-button-group {
    display: flex;

}

.a-button-group--block {
    border-radius: $button-radius;

    .a-button {
        border-radius: 0 !important;
    }
}

.a-button {
    @extend .title-4;
    margin: 0;
    // -webkit-appearance: button;
    font-size: 16px;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: $space/2 $space;
    box-sizing: border-box;
    border: 0 none;
    vertical-align: middle;
    user-select: none;
    outline: none;
    border-radius: $button-radius;
    background: #fff;
    color: #000;
    line-height: 1;
    transition: box-shadow 200ms;

    &::after {
        content: ''
    }

    &--block,
    &--full {
        width: 100%;
        border-radius: $button-radius;
        padding: $space*2;
    }

    &--full {
        border-radius: 0 !important;
    }

    &--rounded {
        border-radius: 99999px;
    }


    &--round {
        border-radius: 99999px;
    }

    &--loading {
        &::before {
            @extend .a-loading-half, .mr-1;
            content: '';
            height: 0.6em;
            width: 0.6em;
            
        }

    }

}

@each $k,
$color in $theme-colors {
    .a-button--#{$k} {
        color: color-yiq($color);
        background-color: $color;

        &:active {
            background-color: darken($color, 6%);
        }

        &:not(.a-button--full):focus {
            z-index: 1;
            // box-shadow: 0 0 0 3px rgba($color, .4);
        }

        &[disabled] {
            background-color: lighten($color, 20%);
            touch-action: none;
        }
    }
}