.a-card {
  width: 100%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  background-color: $background-color;
  border-radius: $radius * 2;
  overflow: hidden;
  &__image {
    display: block;
    width: 100%;
  }

  &__header {
    @extend .pt-2, .px-2;

    > .header {
      &__title {
        @extend .title-3;
        font-weight: bold;
        color: #000;
      }

      &__subtitle {
        @extend .title-5;
        color: $secondary;
      }
    }
  }
  &__content {
    @extend .px-2, .pb-2, .pt-1, .text-size-5;
    word-break: break-all;
  }

  &__button{
      @extend .d-block, .px-2, .pb-2, .text-size-5, .text-info;
  }
}
