.a-checkbox {
    box-sizing: content-box;
    display: inline-block;
    border-radius: $radius;
    overflow: hidden;
    background-color: $white;
    border: 1px solid $primary;
    vertical-align: middle;
    >.ion-ios-checkmark {
        width: $checkbox-size;
        height: $checkbox-size;
        line-height: $checkbox-size;
        text-align: center;
        transform: scale(0);
        transform-origin: center center;
        transition: transform 200ms, color 200ms;
        display: inline-block;
    }

    &--checked {
        >.ion-ios-checkmark {
            color: $primary;
            transform: scale(2);
        }
    }


    &--disabled {
        border-color: lighten($dark, 60%);
        background-color: lighten($dark, 70%);

        >.ion-ios-checkmark {
            color: lighten($dark, 60%);
        }
    }
}