.a-checkbox {
    @extend .ovh;
    box-sizing: content-box;
    display: inline-block;
    border-radius: $radius;
    overflow: hidden;
    background-color: $white;
    border: 1px solid $primary;
    vertical-align: middle;

    >.ion-ios-checkmark {
        width: $checkbox-size;
        height: $checkbox-size;
        line-height: $checkbox-size;
        text-align: center;
        transform: scale(0);
        transform-origin: center center;
        transition: transform $animateDuration, color $animateDuration;
        display: inline-block;
    }

    &--checked {
        >.ion-ios-checkmark {
            @extend .d-block;
            width: $checkbox-size;
            height: $checkbox-size;
            font-weight: bold;
            color: $primary;
            font-size: $checkbox-size;
            transform: scale(1);
        }
    }


    &--disabled {
        border-color: lighten($dark, 60%);
        background-color: lighten($dark, 70%);

        >.ion-ios-checkmark {
            color: lighten($dark, 60%);
        }
    }
}

.a-checkbox--circle{
    border-radius: 100%;
}