.a-checkbox {
    box-sizing: content-box;
    border-radius: $radius;
    overflow: hidden;
    height: $checkbox-size;
    width: $checkbox-size;
    background-color: $white;
    border: 1px solid $primary;

    >.ion-ios-checkmark {
        width: $checkbox-size;
        height: $checkbox-size;
        transition: transform 200ms;
        display: none;
    }

    &--checked {
        z-index: 1;
        >.ion-ios-checkmark {
            display: inline-block !important;
            text-align: center;
            color: $primary;
            transform: scale(2);
            transform-origin: center center;
        }
    }

    &--disabled {
        background-color: lighten($dark, 60%);
        border-color: lighten($dark, 60%);

        >.ion-ios-checkmark {
            color:$secondary;
        }
    }


}