.a-collapse {
    overflow: hidden;
    border-bottom: 1px solid $gray-300;

    &__item {
        border-top: 1px solid $gray-300;

        >.item__header {
            display: flex;
            align-items: center;
            align-content: center;
            background-color: $gray-100;
            padding: $space;
            font-size: $collapse-title-font-size;
            cursor: pointer;
            font-weight: bold;

            >.header__icon-arrow {
                @extend .ion-ios-arrow-forward;
                @extend .d-inline-block;
                transition: transform 200ms;
                width: 1.3em;
                height: 1.3em;
                text-align: center;
            }
        }

        >.item__body {
            display: none;
            padding: $space;
            font-size: 14px;
        }
    }

    // 展开情况下
    &__item {
        &--open {
            >.item__header {
                border-bottom: 1px solid $gray-300;

                >.header__icon-arrow {
                    transform: rotate(90deg);
                    transform-origin: center center;
                }
            }

            >.item__body {
                display: block;
            }
        }
    }

    // 简化版本
    &--simplify {
        border: none;
        border-bottom: 1px solid $gray-300;

        .a-collapse__item {
            >.item__header {
                border: none;
                background-color: transparent;
                padding: $space;
            }

            >.item__body {
                padding: 0 $space $space $space;
            }
        }
    }
}