.a-collapse {
    overflow: hidden;
    border-radius: $radius*2;
    border: 1px solid $gray-300;

    &__item {
        &:nth-of-type(n+2) {
            border-top: 1px solid $gray-300;
        }

        >header,
        .item__header {
            background-color: $gray-100;
            padding: $space;
            font-size: 14px;
            cursor: pointer;

            >i.icon-arrow {
                @extend .icon-arrow;
            }

            >p {
                display: inline-block;
                vertical-align: middle;
                font-weight: bold;
            }
        }

        >article,
        .item__body {
            display: none;
            padding: $space;
            font-size: 14px;
        }
    }

    // 展开情况下
    &__item {
        &--open {

            >header,
            .item__header {
                border-bottom: 1px solid $gray-300;

                >i.icon-arrow {
                    transform: rotate(90deg);
                }
            }

            >article,
            .item__body {
                display: block;
            }
        }
    }

    // 简化版本
    &--simplify {
        border: none;

        .a-collapse__item {
            >header {
                border: none;
                background-color: transparent;
                padding: $space;
            }

            >article,
            .item__body {
                padding: 0 $space $space $space;
            }
        }
    }
}