.a-divider{
    display: table;
    text-align: center;
    word-break: keep-all;
    height: 1px;
    &::after, &::before{
        content:'';
        display: table-cell;
        width: 100%;
        background-color: #ccc;

    }
}