.a-dropdown{
    // pointer-events: none;
    @extend .pos-a, .px-1, .full-width, .shadow-all;
    z-index: $z-index-dropdown;
    bottom: 0;
    right:0;
    transform: translate(0, 100%);
    color:$dropdown-color;
    background-color:$backgroundColor;
    border-radius: $radius;
    // &:after{
    //     @include triangle(5px,$backgroundColor,top);
    //     content: '';
    //     position: absolute;
    //     top:0;
    //     left:50%;
    //     transform: translate(-50%, -100%);
    // }
}