.a-input {
    @extend .p-1,
    .font-5;

    &__title {
        font-weight: bold;
    }

    &__content {
        @extend .d-flex,
        .align-items-center;
        height: 2em;
        &__title-inline{
            @extend .mr-1, .font-bold;
        }
        &__input {
            @extend .full-width,
            .flex-1,
            .font-5;
        }

        &__icon {
            @extend .font-1, .t-align-center;
            width:$font-size-1;

        }
    }
}