@import '../_variables';
@import '../_mixins';


.a-list {
    &__title {
        font-size: $font-size-3;
        padding-left: $space;
        margin-top: $space*2;
        font-weight: bold;
        color: $black;
    }

    &__item {
        display: flex;
        background-color: $white;
        &__start {
            // 内部间隙因子
            margin-left: $space;
            margin-top: $space*$space-multiple;
            display: block;
            width: 5em;
            height: 5em;
            overflow: hidden;
            border-radius: $radius;
            background: $gray-200;

            &__image {
                display: block;
                width: 100%;
                overflow: hidden;
            }
        }

        &__start+&__content {
            padding-left: 0;
            margin-left: $space;
        }

        &__content {
            // .py-1决定内部间隙
            padding-left: $space*2;
            padding-right: $space*2;
            padding-top: $space*$space-multiple;
            padding-bottom: $space*$space-multiple;

            width: 100%;
            flex: 1;
            display: block;
        }

        &__icon {
            align-self: center;
            display: block;
            font-size: 1.2em;
            width: 1em;
            height: 1em;
        }
    }

    &__item+&__item {
        .a-list__item__content {
            @include thinBorder("top");
        }
    }

    &__item,
    &__title {
        width: 100%;
    }
}