.a-list {
  // @extend .pb-2;
  &__title {
    @extend .font-3, .pl-1, .mt-2;
    font-weight: bold;
    color: #000;
  }

  &__item {
    display: flex;

    > .item__start {
      // 内部间隙因子
      @extend .ml-1, .mt-#{$space-multiple};
      display: block;
      width: 3em;
      height: 3em;
      overflow: hidden;
      border-radius: $radius;
      background: $gray-200;

      > img {
        display: block;
        width: 100%;
        overflow: hidden;
      }
    }

    > .item__start + .item__content {
      @extend .pl-0, .ml-1;
    }

    > .item__content {
      // .py-1决定内部间隙
      @extend .px-2, .py-#{$space-multiple};
      width: 100%;
      flex: 1;
      display: block;
    }

    > .icon {
      align-self: center;
      display: block;
      font-size: 1.2em;
      width: 1em;
      height: 1em;
    }
  }

  &__item + &__item {
    > .item__content {
      @include thinBorder("top");
    }
  }

  &__item,
  &__title {
    width: 100%;
  }
}
