@import '../variables';

.a-list {
    &__title {
        font-size: $font-size-3;
        padding-left: $space;
        margin-top: $space*2;
        font-weight: bold;
        color: #000;
    }

    &__item {
        display: flex;

        >.item__start {
            // 内部间隙因子
            margin-left: $space;
            margin-top: $space*$space-multiple;
            display: block;
            width: 3em;
            height: 3em;
            overflow: hidden;
            border-radius: $radius;
            background: $gray-200;

            >img {
                display: block;
                width: 100%;
                overflow: hidden;
            }
        }

        >.item__start+.item__content {
            padding-left: 0;
            margin-left: $space;
        }

        >.item__content {
            // .py-1决定内部间隙
            padding-left: $space*2;
            padding-right: $space*2;
            padding-top: $space*$space-multiple;
            padding-bottom: $space*$space-multiple;

            width: 100%;
            flex: 1;
            display: block;
        }

        >.icon {
            align-self: center;
            display: block;
            font-size: 1.2em;
            width: 1em;
            height: 1em;
        }
    }

    &__item+&__item {
        >.item__content {
            @include thinBorder("top");
        }
    }

    &__item,
    &__title {
        width: 100%;
    }
}