.a-popup {
    position: fixed !important;
    z-index: $z-index-popup;
    // border-radius: $radius;
    // @include border-1px((top),#ccc, 0);
    background-color: $popup-background-color;
    overflow: hidden;
    &--top{
        left: 0;
        top: 0;
        right: 0;
    }



    &--right{
        top:0;
        right: 0;
        bottom: 0;
        width: 60%;
    }

    &--bottom{
        // box-shadow: 0 5px 10px #000;
        left: 0;
        bottom: 0;
        right: 0;
    }


    &--left{
        top:0;
        bottom: 0;
        left:0;
        width: 60%;
    }

}