// $size:6px;

// .b-radio{
//     display: block;
//     height:0.8em;
//     width: 0.8em;
//     border-radius: 0.8em;
//     background:$white;
//     box-shadow:0 0 0 $size $white,  0 0 0 $size+1px $primary;
//     transition: all 200ms;
// }

// .b-radio--checked{
//     background:$primary;
// }

.a-radio {
    box-sizing: content-box;
    display: inline-flex;
    border-radius: $radio-size;
    overflow: hidden;
    transition: all 200ms;
    height: $radio-size;
    width: $radio-size;
    border: 1px solid $primary;
    background-color: $white;

    &::after {
        content: '';
        margin: auto;
        @extend .d-block;
        border-radius: $radio-size/2;
        height: $radio-size/2;
        width: $radio-size/2;
        transition: transform 200ms;
        transform: scale(0);
        background-color: $primary;
    }

    &--checked {
        z-index: 1;
        &::after {
            transform: scale(1);
        }

    }

    &--disabled {
        background-color: lighten($dark, 70%);
        border-color: lighten($dark, 70%);

        &::after {
            background-color: lighten($dark, 60%);
        }
    }

}