@import '../_variables';

.a-radio {
    box-sizing: content-box;
    display: inline-flex;
    border-radius: $radio-size;
    overflow: hidden;
    transition: all 200ms;
    height: $radio-size;
    width: $radio-size;
    border: 1px solid $gray-300;
    background-color: $white;

    &:after {
        content: '';
        margin: auto;
        display: block;
        border-radius: $radio-size/2;
        height: $radio-size/2;
        width: $radio-size/2;
        transition: transform $animateDuration;
        transform: scale(0);
        background-color: $primary;
    }

    &--checked {
        z-index: 1;
        border-color:$primary;
        &:after {
            transform: scale(1);
        }

    }

    &--disabled {
        background-color: $gray-200;
        border-color: $gray-300;

        &:after {
            background-color: $gray-400;
        }
    }

}