@import "../_variables";
.a-search-bar {
  display: table;
  width: 100%;
  background-color: $white;
  padding: $space;
  align-items: center;
  // 放大镜
  &__icon-search {
    color: currentColor;
    display: table-cell;
    text-align: center;
    font-size: $font-size-2;
    vertical-align: middle;
    background-color: $gray-100;
    width: 30px;
  }

  &__input {
    display: table;
    width: 100%;
    padding: $space;
    color: currentColor;
    background-color: $gray-100;
  }

  &__btn {
    display: table-cell;
    text-align: center;
    padding-right: $space;
    padding-left: $space;
    margin-left: $space;
    font-size: $font-size-5;
    word-break: keep-all;
    // http://liaolushen.github.io/2015/09/12/%E6%B7%B1%E5%85%A5%E7%90%86%E8%A7%A3-1-table-cell-width/
    width: 1%;
  }
}
