// 步进器
// 评分
@import '../variables';
@import "node_modules/ionicons/dist/scss/ionicons.scss";
.a-stepper {
  display: inline-flex;
  border-radius: $radius;
  border: 1px solid $gray-300;
  %icon {
    display: block;
    text-align: center;
    width: $stepper-width;
  }

  &__minus {
    font-size: $font-size-1;
    @extend .ion-ios-remove, %icon;
  }

  &__input {
    @extend %icon;
    font-size: $font-size-4;
  }

  &__plus {
    @extend .ion-ios-add, %icon;
    font-size: $font-size-1;
  }
}
