%line {
    @extend .d-block,
    .pos-a;
    background-color: $primary;
    content: '';
    width: 1px;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
}

.a-steps {
    @extend .d-table;

    &__item {
        @extend .d-table-row,
        .p-1;

        >.item__cell {
            @extend .d-table-cell,
            .v-align-middle,
            .p-1,
            .font-5,
            .pos-r;
        }

        >.item__start {
            word-break: keep-all;
            white-space: nowrap;
            text-align: end;
        }

        // 75
        >.item__middle {
            >.circle {
                &:after {
                    @extend %line;
                    bottom: 0;
                    height: calc(50% - #{$steps-circle-width / 2});
                }

                @extend .bg-primary,
                .d-block;
                margin: auto;
                width: $steps-circle-width;
                height: $steps-circle-width;
                border-radius: 100%;
            }


        }

        >.item__end {
            @extend .font-4;
        }

        // 当前项的下线是灰色
        &--active {
            >.item__middle {
                >.circle {
                    &:after {
                        background-color: $gray-400 !important;
                    }
                }
            }
        }

        // 当前项后面的项目的上/下线是灰色
        &--active~& {
            >.item__middle {
                >.circle {
                    color: $gray-400 !important;
                    background-color: transparent !important;
                    border: 1px solid $steps-normal-color !important;

                    &:after,
                    &:before {
                        background-color: $gray-400 !important;
                    }
                }
            }
        }
    }

    // 非首位
    &__item+&__item {
        >.item__middle {
            >.circle {
                &:before {
                    @extend %line;
                    top: 0;
                    height: calc(50% - #{$steps-circle-width / 2});
                }

                &:after {
                    @extend %line;
                    bottom: 0;
                    height: calc(50% - #{$steps-circle-width / 2});
                }
            }
        }
    }

    // 去掉尾部线
    &__item:last-child {
        >.item__middle {
            >.circle {
                &:after {
                    @extend .d-none;
                }
            }
        }
    }


    // 大圆

    &__item--big {
        >.item__middle {

            >.circle {
                @extend .font-6;
                width: $steps-circle-width*2;
                height: $steps-circle-width*2;
                line-height: $steps-circle-width*2;
                color: $white;
                text-align: center;
            }

            >.circle {
                &:before {
                    height: calc(50% - #{$steps-circle-width}) !important;
                }

                &:after {
                    height: calc(50% - #{$steps-circle-width}) !important;
                }
            }
        }
    }


}