.a-switch {
    position: relative;
    height: $switch-size;
    width: $switch-size*2;
    border-radius: $switch-size;
    background-color: $white;
    border: 1px solid $switch-border-color;
    box-sizing: content-box;
    transition: all 200ms;

    &::before {
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        display: block;
        width: $switch-size;
        height: $switch-size;
        border-radius: $switch-size;
        background: $white;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
        transition: all 200ms;
    }


    &::after {
        content: '';
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        display: block;
        width: $switch-size;
        height: $switch-size;
        border-radius: 0 $switch-size $switch-size 0;
        background: $white;
        transition: all 200ms;
    }


    &--active {
        background-color: $primary;
        z-index: 1;

        &::before {
            transform: translateX($switch-size);
        }

        &::after {
            transform: scale(0);
        }
    }

    &--disabled {
        background-color: lighten($dark, 60%);
        border-color: lighten($dark, 60%);

        &::after {
            display: none;
        }
    }

}