// 标签页
@import '../_variables';
@import '../_mixins';

.a-tab{
    @include thinBorder();
    position: relative;
    overflow: hidden;
    &__content{
        display: flex;
        flex-wrap: nowrap;

        &__item{
            padding: $space * 2;
            text-align: center;
            flex-grow: 1;
            flex-shrink: 0;
            color:$secondary;
        }
        &__item--active{
            font-weight: bold;
            color:$black;
        }

    }

    &__indicator{
        position: absolute;
        left:100px;
        bottom:0;
        height: 2px;
        width:100px;
        background-color: $primary;
    }
}