.a-tooltip {
    @extend .p-1, .text-size-5, .v-align-middle, .d-inline-flex, .align-items-center;
    position: absolute;
    background-color: $tooltip-color;
    border-radius: $radius;
    word-break: break-word;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    z-index: $z-index-tooltip;
    color:$white;
    max-width: 60%;
    &:before {
        @extend .d-block, .pos-a;
        content: '';
        z-index: 1;
    }

    &--top {
        top: -$space;
        left: 50%;
        transform: translate(-50%, -100%);

        &:before {
            @include triangle(5px, $tooltip-color, bottom);
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 100%);
        }
    }


    &--bottom {
        bottom: -$space;
        left: 50%;
        transform: translate(-50%, 100%);

        &:before {
            @include triangle(5px, $tooltip-color, top);
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
        }
    }

    &--left {
        left: -$space;
        top: 50%;
        transform: translate(-100%, -50%);

        &:before {
            @include triangle(5px, $tooltip-color, right);
            top: 50%;
            right: 0;
            transform: translate(100%, -50%);
        }
    }

    &--right {
        right: -$space;
        top: 50%;
        transform: translate(100%, -50%);

        &:before {
            @include triangle(5px, $tooltip-color, left);
            top: 50%;
            left: 0;
            transform: translate(-100%, -50%);
        }
    }

}