

@import '../variables';
@import '../mixin';
// 内容的宽度收到相对位置关系的父元素的宽度影响, 所以使用的时候最好值把tip放在body的第一级子元素
.a-tooltip {
    position: absolute;
    color: $white;
    padding: $space;
    font-size: $font-size-5;
    vertical-align: middle;
    box-shadow: $shadow-down;
    border-radius: $radius;
    align-items: center;
    z-index: $z-index-tooltip;
    background-color: $tooltip-color;
    max-width: 200px;
    white-space: pre-wrap;

    &:before {
        display: block;
        position: absolute;
        content: '';
        z-index: 1;
    }

    &--top {
        top: -$space;
        left: 50%;
        transform: translate(-50%, -100%);

        &:before {
            @include triangle(5px, $tooltip-color, bottom);
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 100%);
        }
    }


    &--bottom {
        bottom: -$space;
        left: 50%;
        transform: translate(-50%, 100%);

        &:before {
            @include triangle(5px, $tooltip-color, top);
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
        }
    }

    &--left {
        left: -$space;
        top: 50%;
        transform: translate(-100%, -50%);

        &:before {
            @include triangle(5px, $tooltip-color, right);
            top: 50%;
            right: 0;
            transform: translate(100%, -50%);
        }
    }

    &--right {
        right: -$space;
        top: 50%;
        transform: translate(100%, -50%);

        &:before {
            @include triangle(5px, $tooltip-color, left);
            top: 50%;
            left: 0;
            transform: translate(-100%, -50%);
        }
    }

}