@each $key,
$value in $theme-colors {
    .bg-#{$key} {
        background-color: $value !important;
    }
}


@each $key,
$var in $grays {
    .bg-gray-#{$key} {
        background-color: $var;
    }
}

.bg-black {
    background-color: $black;
}

.bg-white {
    background-color: $white;
}

.bg-chessboard {
    @include bgChessboard()
}