.d-flex {
    display: flex;

    &.row {
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }
}
.d-block{
    display: block ;
}
.d-none {
    display: none ;
}

.d-table {
    display: table ;
}
.d-table-row{
    display: table-row ;
}
.d-table-cell {
    display: table-cell ;
}

.d-inline {
    display: inline ;
}

.d-inline-block{
    display: inline-block ;
}
.d-inline-flex{
    display: inline-flex ;
}