@for $i from 1 to 6 {
  .flex-#{$i} {
    flex: $i;
    min-width: 0;
  }
}

.align-items-center {
  align-items: center;
}
.align-content-center {
  align-content: center;
}
.align-self-center {
  align-self: center;
}

.align-items-end {
  align-items: flex-end;
}
.align-content-end {
  align-content: flex-end;
}
.align-self-end {
  align-self: flex-end;
}
