@for $i from 0 to 7 {
    .m-#{$i} {
        margin: $space * $i ;
    }
}

@each $directionMap,
$short in $directionMaps {
    @for $i from 0 to 7 {
        .m#{$short}-#{$i} {
            margin-#{$directionMap}: $space * $i ;
        }
    }
}


@for $i from 0 to 7 {
    .mx-#{$i} {
        margin-left: $space * $i ;
        margin-right: $space * $i ;
    }

    .my-#{$i} {
        margin-top: $space * $i ;
        margin-bottom: $space * $i ;
    }
}
