.full-width {
    width: 100% !important;
}

.full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.center-block {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.v-align-middle {
    vertical-align: middle;
}

.parent-color {
    color: currentColor;
}

.ovh {
    overflow: hidden;
}


