@for $i from 0 to 7 {
    .p-#{$i} {
        padding: $space * $i !important;
    }
}

@each $directionMap,
$short in $directionMaps {
    @for $i from 0 to 7 {
        .p#{$short}-#{$i} {
            padding-#{$directionMap}: $space * $i !important;
        }
    }
}


@for $i from 0 to 7 {
    .px-#{$i} {
        padding-left: $space * $i !important;
        padding-right: $space * $i !important;
    }

    .py-#{$i} {
        padding-top: $space * $i !important;
        padding-bottom: $space * $i !important;
    }
}

@for $i from 0 to 7 {
    .px-#{$i} {
        padding-left: $space * $i !important;
        padding-right: $space * $i !important;
    }

    .py-#{$i} {
        padding-top: $space * $i !important;
        padding-bottom: $space * $i !important;
    }
}
