.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.pos-f {
  position: fixed;
}

.pos-s {
  position: sticky;
}

.pos-f-top {
  @extend .pos-f;
  top: 0;
  left: 0;
  right: 0;
}

.pos-f-bottom {
  @extend .pos-f;
  bottom: 0;
  left: 0;
  right: 0;
}

.pos-a-bottom {
  @extend .pos-f;
  bottom: 0;
  left: 0;
  right: 0;
}

.pos-a-top {
  @extend .pos-a;
  top: 0;
  left: 0;
  right: 0;
}
