@each $key,
$value in $theme-colors {
    .text-#{$key} {
        color: $value ;
    }
}

.text-white{color:$white};
.text-black{color:$black};


@each $font-size in $font-sizes {
    $i :index($font-sizes, $font-size);
    .font-#{$i},.text-size-#{$i} {
        font-size: $font-size;
    }
}


@each $var in (left,right,center,start,end) {
    .text-align-#{$var}{
        text-align: #{$var};
    }
}


.text-short {
    overflow: hidden;
}

@for $i from 1 to 4 {
    .text-short-#{$i} {
        @include ellipsis($i)
    }
}

.text-lg{
    font-size: 64px;
}

.font-lg{
    font-size: 64px;
}


.font-bold{
    font-weight: bold;
}