@mixin ellipsis($row_count: 1) {
    @if $row_count <=1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @else {
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $row_count;
        -webkit-box-orient: vertical;
    }
}

@mixin triangle($size, $color, $direction) {
    width: 0;
    height: 0;

    @if top==$direction {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
    }

    @else if right==$direction {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }

    @else if bottom==$direction {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
    }

    @else if left==$direction {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
    }
}

@mixin thinBorder($direction :'bottom', $color:#ccc) {
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        & {
            position: relative;
            border-bottom: none;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $color;
            transform: scaleY(0.5);
            transform-origin: 0 0;
            pointer-events: none;
        }
    }


    @media only screen and (-webkit-min-device-pixel-ratio: 3) {
        &:after {
            // transform: scaleY(0.333);
        }
    }
}

@mixin hidden($isDeep:false) {
    @if $isDeep {
        height: 0;
        opacity: 0;
    }

    display: none;
}