* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "node_modules/ionicons/dist/scss/ionicons.scss";

@import "_variables.scss";
@import "_functions.scss";
@import "_mixins.scss";
@import "_reset.scss";

// helpers
@import "helpers.scss";

// css变量
@import 'cssVar.scss';


// 组件
@import "components/_collapse.scss";
@import "components/_loading.scss";
@import "components/_button.scss";
@import "components/_list.scss";
@import "components/_icon.scss";
@import "components/_card.scss";
@import "components/_nav-bar.scss";
@import "components/_divider.scss";
@import "components/_backdrop.scss";
@import "components/_popup.scss";
@import "components/_input.scss";
@import "components/_checkbox.scss";
@import "components/_radio.scss";
@import "components/_switch.scss";
@import "components/_table.scss";
@import "components/_tooltip.scss";
@import "components/_toast.scss";
@import "components/_dropdown.scss";
@import "components/_grid.scss";
@import "components/_steps.scss";
@import "components/_tag.scss";
@import "components/_skeleton.scss";
@import "components/_searchBar.scss";
@import "components/_pickerView.scss";
@import "components/_tab.scss";
@import "components/_rate.scss";
@import "components/_stepper.scss";

@import 'components/_slider.scss';
@import 'components/_badge.scss';
@import 'components/_tabbar.scss';
@import 'components/_indexList.scss';